{% block navbar %}
    <header role="banner" class="fixed-top fixed-md-bottom header-transparent">
        <div class="container d-flex">
            <button class="ml-0 ml-md-auto btn btn-primary btn-md-size-full">Subscribe to project</button>
        </div>
    </header>
{% endblock %}
