{% block navbar %}
    {%
      set navbar_classes = [
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        'nonproduct-page',
        is_admin ? 'needed_bump',
        is_front ? 'is__interactive'
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} role="banner">
        {{ page.primary_menu }}
    </header>
{% endblock %}
