{% block navbar %}
{%
  set navbar_classes = [
    is_admin ? 'needed_bump',
    'product-header',
    path("<current>") == "/projectnamehere" ? 'fixed-top'
  ]
%}
    <header{{ navbar_attributes.addClass(navbar_classes) }} role="banner">
        <nav role="navigation" class="navbar" aria-labelledby="{{ heading_id }}"{{ attributes.removeClass('clearfix')|without('role', 'aria-labelledby') }}>
          {# Label. If not displayed, we still provide it for screen readers. #}
          {% if not configuration.label_display %}
            {% set title_attributes = title_attributes.addClass('sr-only') %}
          {% endif %}
          <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
          <a class="navbar-brand mr-4" href="{{ url('<front>') }}"><img src="/{{ directory }}/images/logo-vibrant.png" height="24" /></a>
          {% if not logged_in %}
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-link last">
                      <a class="navbar-text" href="/p/signin"><span>{{ source(directory ~ '/images/icons/user.svg') }}</span> <span class="ml-_5">Sign in</span></a>
                  </li>
              </ul>
          {% else %}
              <div class="ml-auto d-flex">
                  {% if path("<current>") == "/projectnamehere" %}
                      <a href="{{ url("comradery.project.tiers") }}" class="btn btn-primary btn-sm mr-2 d-md-block d-none" style="background-color:#FFD467; color:#1c1c1c;">Subscribe to project</a>
                  {% endif %}
                  <div class="dropdown">
                      <div class="d-flex dropdown-toggle" id="user-menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="image-profile mr-_5"><img src="/{{directory}}/images/majed_image.png" alt=""></div>
                          <span class="d-none d-md-block"><small class="font-weight-bold">Majed Elass</small></span>
                      </div>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu-dropdown">
                        <a class="dropdown-item" href="{{ url('comradery.account.wallet') }}">My wallet</a>
                        <a class="dropdown-item" href="{{ url('comradery.account.settings') }}">Account settings</a>
                        <a class="dropdown-item" href="{{ url('comradery.account.managesubs') }}">Manage subscription</a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                      </div>
                  </div>
              </div>
          {% endif %}
        </nav>
    </header>
{% endblock %}
