<div class="modal-header">
  <h2 class="modal-title" id="exampleModalLabel">Change subscription amount</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <h5 class="mb-2">{{ project_name }}</h5>
    <div class="mb-2">
        <label for="subscription-amount" class="col-form-label-sm">How much do you want to contribute?</label>
        <input type="text" class="form-control" data-type="currency" id="subscription-amount" placeholder="$0.00" value="{{amount_default}}" >
    </div>
    <div class="mb-2">
        <div class="label col-form-label-sm">Your current payment method</div>
        <div class="d-flex align-items-center">
             <img src="/{{directory}}/images/card-amex.png" width="30" alt="" class="mr-_5"><span class="mr-1">Ending in 1696</span><a class="text-decoration-none" data-toggle="collapse" href="#card-options-payment" role="button" aria-expanded="false" aria-controls="collapseExample">Change</a>
        </div>
    </div>
    <div id="card-options-payment" class="collapse">
        <div class="mb-2 pt-1">
            <div class="custom-control custom-radio mb-1">
                <input type="radio" checked class="custom-control-input" id="card-option-1" name="card-option">
                <label class="custom-control-label" for="card-option-1"><img src="/{{directory}}/images/card-amex.png" width="30" alt="" class="mr-_5"><span class="mr-1">Ending in 1696</span></label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="card-option-2" name="card-option">
                <label class="custom-control-label" for="card-option-2"><img src="/{{directory}}/images/card-visa.png" width="30" alt="" class="mr-_5"><span class="mr-1">Ending in 1696</span></label>
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        Your subscription amount will change next month on the 1st.
    </div>
    <h5 class="mb-1">Payment breakdown</h5>
    <div class="d-flex mb-1">
        <span>Subtotal amount paid on the 1st of April</span>
        <span class="pl-2 ml-auto">$51.00</span>
    </div>
    <div class="d-flex mb-1">
        <span>Sales tax</span>
        <span class="pl-2 ml-auto">$2.70</span>
    </div>
    <div class="d-flex">
        <span class="font-weight-bold">Total</span>
        <span class="font-weight-bold ml-auto pl-2 ">$2.70</span>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary btn-md-size-full mb-2">Update subscription</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
