<div class="modal-header">
  <h2 class="modal-title">Change account email</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="alert d-none" role="alert">
        message here
    </div>
    <label for="change-email-settings">New email address</label>
    <input type="email" id="change-email-settings" class="form-control" placeholder="bob@bobsaggot.com">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary  btn-md-size-full mb-2">Send verification email</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
