<div class="modal-header">
  <h2 class="modal-title">Profile picture</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    drupal instance here...
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary  btn-md-size-full mb-2">Crop and save</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
