<div class="modal-header">
  <h2 class="modal-title">Change display name</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="alert d-none" role="alert">
        message here
    </div>
    <label for="change-name-settings">Display name</label>
    <input type="email" id="change-name-settings" class="form-control" placeholder="What would you like other users to see?">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary  btn-md-size-full mb-2">Change name</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
