<div class="modal-header">
  <h2 class="modal-title" id="exampleModalLabel">Cancel subscription</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p class="mb-1">
        You’re about to cancel your subscription with
    </p>
    <h5 class="mb-2">{{ project_name }}</h5>
    <div class="alert alert-info mb-2" role="alert">
        Your access will end by the end of this month.
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-danger btn-md-size-full mb-2">Cancel subscription</button>
  <button type="button" class="btn btn-link btn-md-size-full text-danger" data-dismiss="modal">Do not cancel subscription</button>
</div>
