<div class="modal-header">
  <h2 class="modal-title">Change password</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="alert d-none" role="alert">
        message here
    </div>
    <div class="mb-2">
        <label for="change-password-old-settings">Old password</label>
        <input type="password" id="change-password-old-settings" class="form-control" placeholder="Your current password">
    </div>
    <div>
        <label for="change-password-new-settings">New password</label>
        <input type="password" id="change-password-new-settings" class="form-control" placeholder="What you want to change your password to">
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary  btn-md-size-full mb-2">Change password</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
