<div class="modal-header">
  <h2 class="modal-title">Add a credit card</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="form-control d-flex align-items-center">
        <div id="stripe-element" class="w-100"></div>
    </div>
    <div id="card-errors" class="text-danger"></div>
    <div class="custom-control custom-checkbox mt-2">
      <input type="checkbox" class="custom-control-input" id="login-rememberme">
      <label class="custom-control-label" for="login-rememberme">Make default payment method</label>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-primary  btn-md-size-full mb-2">Save card to account</button>
  <button type="button" class="btn btn-link btn-md-size-full" data-dismiss="modal">Cancel</button>
</div>
