{#
/**
 * @file
 * Default theme implementation for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @ingroup templates
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" class="navbar navbar-expand-lg" aria-labelledby="{{ heading_id }}"{{ attributes.removeClass('clearfix')|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  <button class="navbar-toggler collapsed mr-1" type="button" data-toggle="collapse" data-target="#mainNavToggle" aria-controls="mainNavToggle" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-icon"></div>
  </button>
  <a class="navbar-brand mr-4" href="{{ url('<front>') }}"><img src="/{{ directory }}/images/logo.png" height="24" /></a>
  {% block content %}
      <div class="collapse navbar-collapse" id="mainNavToggle">
        {{ content }}
     </div>
     {% if not logged_in %}
         <ul class="nav navbar-nav ml-auto">
             <li class="nav-link last">
                 <a class="navbar-text" href="/p/signin"><span>{{ source(directory ~ '/images/icons/user.svg') }}</span> <span class="ml-_5">Sign in</span></a>
             </li>
         </ul>
     {% else %}
         <div class="dropdown ml-auto">
             <div class="d-flex dropdown-toggle" id="user-menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <div class="image-profile mr-_5"><img src="/{{directory}}/images/majed_image.png" alt=""></div>
                 <span class="d-none d-md-block"><small class="font-weight-bold">Majed Elass</small></span>
             </div>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu-dropdown">
                 <a class="dropdown-item" href="{{ url('comradery.account.wallet') }}">My wallet</a>
                 <a class="dropdown-item" href="{{ url('comradery.account.settings') }}">Account settings</a>
                 <a class="dropdown-item" href="{{ url('comradery.account.managesubs') }}">Manage subscription</a>
                 <a class="dropdown-item" href="/user/logout">Logout</a>
             </div>
         </div>
     {% endif %}
  {% endblock %}
</nav>
