{% include '@comradery/header/product-header.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-6">
                <div class="card card-shadow bg-brand-200 p-2">
                    <h2 class="mb-3">Create an account</h2>
                    <form action="">
                    {{ SignUpForm }}
                        <div class="mb-2">
                            <label class="form-label" for="login-email">
                                Email address
                            </label>
                            <input type="email" id="login-email" class="form-control" aria-describedby="email-log-in" placeholder="bob@leeswagger.com">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="login-password">
                                Password
                            </label>
                            <input type="password" id="login-password" class="form-control" aria-describedby="email-log-in" placeholder="Ssshhhh, its a secret">
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="login-rememberme">
                          <label class="custom-control-label" for="login-rememberme">I agree to Comradery's <a href="">privacy policy</a> and <a href="">bylaws</a></label>
                        </div>
                        <button class="mt-2 btn btn-md btn-primary btn-block">Log in</button>
                        <div class="mt-2 text-center">
                            Have an account? <a href="{{url("comradery.signin")}}">Sign in here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
