{% include '@comradery/header/product-header.html.twig' %}


{% block body %}
    <div class="modal fade" id="subscription-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="d-none" id="cancel-sub-modal">
                {% include "@comradery/modals/modal-cancel-subscription.html.twig" with {"project_name":"Comradery Tech & Design Committee" , "amount_default" : "$50.00"} %}
            </div>
            <div class="d-none" id="change-sub-modal">
                {% include "@comradery/modals/modal-change-subscription.html.twig" with {"project_name":"Comradery Tech & Design Committee" , "amount_default" : "$50.00"} %}
            </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <h1>Manage subscriptions</h1>
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div class="col-lg-12">
                $50 USD contributions total a month
            </div>
        </div>
    </div>
    <div class="w-100 bg-gray-100 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-shadow">
                        <img src="/{{directory}}/images/Illus_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="mb-2 text-align-center">Comradery Tech & Design Committee</h5>
                            <div class="row justify-content-center">
                                <span class="badge badge-warning">$50 USD</span>
                            </div>
                        </div>
                        <div class="bg-gray-100 p-2">
                            <a href="" class="mr-md-2 d-md-inline d-block mr-0 mb-2 text-center" data-toggle="modal" data-target="#subscription-modal" data-type="#change-sub-modal">Change amount</a>
                            <a href="" class="d-md-inline d-block text-center" data-toggle="modal" data-target="#subscription-modal" data-type="#cancel-sub-modal">Cancel sub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
