{{ attach_library('comradery/nonproduct-styling') }}
{{ attach_library('comradery/nonproduct-interaction') }}
{% block stylesheet %}
    <style>
        .homepage-section.alternative, .section-graph-yellow:after{
            background-image:url("/{{ directory }}/images/noisebg2.png");
        }
    </style>
{% endblock %}

{% include '@comradery/header/nonproduct-header.html.twig' %}

{% block body %}

<div id="stand-alone-logo">
    <img src="/{{ directory }}/images/logo-alt.png" alt="logo">
</div>
<div class="homepage-section first_section  align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 position-relative d-none d-lg-block">
                <div>
                    <img class="image-1-a" src="/{{ directory }}/images/Illus_1.png" />
                </div>
                <span class="credit position-absolute">Illustrations by St Vulture - <a href="https://twitter.com/stvulture">@stvulture</a></span>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="pb-lg-5">take back control of your work</h1>

                <div class="row d-md-block d-lg-none mb-2">
                    <div>
                        <img class="image-1-b" src="/{{ directory }}/images/Illus_1.png" />
                    </div>
                    <span class="credit text-align__center">Illustrations by St Vulture - <a href="https://twitter.com/stvulture">@stvulture</a></span>
                </div>

                <div class="row">
                    <p class="large mb-3">
                        Collect money from your subscribers on Comradery, a payment platform that is democratically owned and controlled by every creator who uses it.
                    </p>
                    <h3 class="pb-1">
                        Creators like you.
                    </h3>

                </div>
                <div class="row justify-content-start align-items-center mt-lg-3 mt-sm-3">
                    <a class="btn btn-primary btn-lg mr-lg-2 button-sm-size-full" href="getinvitelink">Get an Invite</a>
                    <button class="btn btn-lg btn-link button-sm-size-full margin-sm__top-md no-hash" anchor=".second_section">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-section alternative second_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-4">a worker cooperative controlled by you</h1>
            </div>
        </div>
        <div class="row justify-content-center d-none d-sm-block d-md-none">
            <div>
                <img class="image-2-b" src="/{{ directory }}/images/Illus_2.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h3 class="pt-lg-3 mb-2 pt-md-0">
                    Connect with your audience and raise monthly income.
                </h3>
                <p class="large mb-4">
                    Independent artists, creators, workers, and activists can create posts, videos, photos and more to offer to supporters for a monthly subscription. As a co-op, we are something truly new- all creators cooperatively own and democratically control Comradery together.
                </p>
                <p class="large">
                    <a href="whoforlink">
                        Who is Comradery for?
                    </a>
                </p>
            </div>
            <div class="col-lg-6 d-sm-hide">
                <img class="image-2-a" src="/{{ directory }}/images/Illus_2.png" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="graph-homepage-container">
                    <div class="graph-comradery homepage-bar">
                        <div class="homepage-bar-stripe"></div>
                        <div class="homepage-bar-comradery">
                            <div class="first_percentage">2.5%</div></div>
                        <div class="homepage-bar-default"></div>
                    </div>
                    <div class="graph-pro homepage-bar">
                        <div class="homepage-bar-stripe"></div>
                        <div class="homepage-bar-pro">
                            <div class="second_percentage">8%</div>
                        </div>
                        <div class="homepage-bar-default"></div>
                    </div>
                    <div class="graph-premium homepage-bar">
                        <div class="homepage-bar-stripe">
                            <div class="stripe_text">
                                Stripe payment <br/> processing
                            </div>
                        </div>
                        <div class="homepage-bar-premium">
                            <div class="third_percentage">12%</div>
                        </div>
                        <div class="homepage-bar-default">
                            <div class="graph-homepage-line">
                                Creator revenue <br/>after fees
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h3 class="mb-2">
                    On Comradery, fees are cheaper
                </h3>
                <div class="row justify-content-center d-md-block d-lg-none pt-3 mb-5 pb-2">
                    <div class="graph-homepage-container">
                        <div class="graph-comradery homepage-bar">
                            <div class="homepage-bar-stripe"></div>
                            <div class="homepage-bar-comradery">
                                <div class="first_percentage">2.5%</div></div>
                            <div class="homepage-bar-default"></div>
                        </div>
                        <div class="graph-pro homepage-bar">
                            <div class="homepage-bar-stripe"></div>
                            <div class="homepage-bar-pro">
                                <div class="second_percentage">8%</div>
                            </div>
                            <div class="homepage-bar-default"></div>
                        </div>
                        <div class="graph-premium homepage-bar">
                            <div class="homepage-bar-stripe">
                                <div class="stripe_text">
                                    Stripe payment <br/> processing
                                </div>
                            </div>
                            <div class="homepage-bar-premium">
                                <div class="third_percentage">12%</div>
                            </div>
                            <div class="homepage-bar-default">
                                <div class="graph-homepage-line">
                                    Creator revenue <br/>after fees
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="large mb-3">
                    You only pay 2.5% in dues plus card processing fees. We’re able to charge less because we have no CEOs to pay, no investors to enrich, and no profit margin. Dues pay for servers and site operation, and what happens to any surplus is decided by the community.
                </p>
                <p class="large mb-5">
                    <a href="paymentlink">How dues and fees work</a>
                </p>
                <h3 class="pt-lg-4 mb-2">
                    The entire process is run democratically
                </h3>
                <p class="large mb-2">
                    There are many ways to join the community and get involved in building a platform that works for everyone. You decide how the site should work, how high the fees should be, and what the feature roadmap is.
                </p>
                <p class="large">
                    <a href="howweworklink">More on how the co-op works</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="homepage-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-md-2 mb-sm-2 mb-xsm-2">
                    there are other platforms, why change?
                </h1>
            </div>
        </div>
        <div class="row pb-3">
            <span>
                <img class="image-3-a" src="/{{ directory }}/images/Illus_3.png" />
            </span>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <p class="large">
                    Even though popular platforms like Patreon generate strong revenue, <a href="https://twitter.com/FoldableHuman/status/1092846201374892032" target="_blank">they repeatedly claim they are “not sustainable.”</a>
                    <br><br>
                    How is this possible? That is the investment startup process at work. Investors demand a huge return for their investment (1000% or more), and platforms generate those profits by raising prices on existing users and adding fees.
                    <br><br>
                    The truth is - startups don’t have a choice. When they made the deal with the investors, they knew their only option <a href="https://www.theverge.com/2020/2/18/21142306/patreon-capital-loans-jack-conte-cash-advances" target="_blank">was to extract as much value from their users as possible</a> - after the users have nowhere else to go.
                </p>
                <div class="d-lg-none mt-sm-4 mb-sm-4 section-graph-outline section-graph-yellow p-3">
                    <p class="font-weight-bold medium mb-lg-1">
                        the venture capital grift:
                    </p>
                    <div class="homepage-box">
                        <h3 class="first">
                            1 investment
                        </h3>
                        <p class="medium font-weight-bold pb-lg-3">
                            Invest a large amount of cash to quickly build a desireable, feature rich platform.
                        </p>
                        <h3 class="second">
                            2 hypergrowth
                        </h3>
                        <p class="medium font-weight-bold pb-lg-3">
                            Offer service at a loss to gather a massive audience and put the competition out of business.
                        </p>
                        <h3 class="third">
                            3 exit
                        </h3>
                        <p class="medium font-weight-bold">
                            Change the platform rules and add fees to squeeze more money captive users and creators - and profit!
                        </p>
                    </div>
                </div>
                <h3 class="font-weight-bold mt-3">
                    We need to end the cycle and put power back in the hands of  creators.
                </h3>
                <p class="large mt-3">
                    <a href="howweworklink">
                        What do we do differently?
                    </a>
                </p>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-5 align-self-start d-none d-lg-block section-graph-outline section-graph-yellow p-lg-4">
                <p class="font-weight-bold medium mb-lg-1">
                    the venture capital grift:
                </p>
                <div class="homepage-box">
                    <h3 class="first">
                        1 investment
                    </h3>
                    <p class="medium font-weight-bold pb-lg-3">
                        Invest a large amount of cash to quickly build a desireable, feature rich platform.
                    </p>
                    <h3 class="second">
                        2 hypergrowth
                    </h3>
                    <p class="medium font-weight-bold pb-lg-3">
                        Offer service at a loss to gather a massive audience and put the competition out of business.
                    </p>
                    <h3 class="third">
                        3 exit
                    </h3>
                    <p class="medium font-weight-bold">
                        Change the platform rules and add fees to squeeze more money captive users and creators - and profit!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-section alternative">
    <div class="container">
        <div class="row pb-lg-5">
            <div class="col-lg-12">
                <h1>
                    we're all we've got,
                    <br class="d-sm-none d-lg-block" />
                    we're all we need
                </h1>
            </div>
        </div>
        <div class="row d-sm-block d-md-none d-none">
            <div>
                <img class="image-4-b" src="/{{ directory }}/images/Illus_4.png" />
            </div>
        </div>
        <div class="row row__justify-between  margin-lg__top-xxlg">
            <div class="col-lg-6 d-sm-none d-md-block">
                <img class="image-4-a" src="/{{ directory }}/images/Illus_4.png" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <p class="large mb-4">
                    It is vital that we transform how we organize as independent creators, artists, writers and activists online.
                    <br><br>
                    Let’s build a mutual aid network where we have the same access to our fans with lower fees, a healthier community, and no more surprise fee hikes.
                    <br><br>
                    Join us to build a new cooperative network to elevate the work of creators in a way that is truly sustainable.
                </p>
                <h3 class="pt-2">
                    It's time to take back control.
                </h3>
                <a href="getinvitelink"><button class="btn btn-primary mt-5 btn-lg button-sm-size-full">Get an invite</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
