
{% if logged_in %}
    {% include '@comradery/header/product-header.html.twig' %}
{% else %}
    {# {% include '@comradery/header/no-login-project-header.html.twig' %} #}
{% endif %}
{% block body %}
<div class="container {% if logged_in %} pt-2 pt-lg-5 {% else %} pt-2 pt-lg-4 {% endif %}">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card">
                    <span>
                        <img class="img-fluid" src="/{{directory}}/images/cover-photo-project.png" alt="">
                    </span>
                    <hr class="my-0">
                    <div class="p-3">
                        <h2 class="mb-1">Comradery Tech &amp; Design Committee</h2>
                        <p class="text-gray-400 medium mb-2">By the Comradery Dev Team</p>
                        <div class="mb-2 d-flex flex-wrap">
                            <div class="image-profile mr-_5 mb-1 image-profile-medium">
                                <img src="/{{directory}}/images/alana_image.png" alt="">
                            </div>
                            <div class="image-profile mr-_5 mb-1 image-profile-medium">
                                <img src="/{{directory}}/images/ty_image.png" alt="">
                            </div>
                            <div class="image-profile mr-_5 mb-1 image-profile-medium">
                                <img src="/{{directory}}/images/cade_image.png" alt="">
                            </div>
                            <div class="image-profile mr-_5 mb-1 image-profile-medium">
                                <img src="/{{directory}}/images/majed_image.png" alt="">
                            </div>
                            <div class="image-profile image-profile-medium">
                                <img src="/{{directory}}/images/john_image.png" alt="">
                            </div>
                        </div>
                        <p class="mb-5">
                            {% set str = "We’re working tirelessly to build the features that the community wants and needs to function appropriately as a mutual aid. We’re working tirelessly to build the features that the community wants and needs to function appropriately as a mutual aid. We’re working tirelessly to build the features that the community wants and needs to function appropriately as a mutual aid." %}

                            {% if str | length > 380 %}
                                BLAH
                            {% else %}
                                {{str}}
                            {% endif %}
                        </p>
                        <div class="row justify-content-center mb-2">
                            <a href="{{ url('comradery.project.tiers') }}" class="col-lg-6 btn btn-primary" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-6 p-0">
                                <div class="card flex-row p-2">
                                    <div class="w-50 text-align-center border-right">
                                        <h3 class="mb-_5">1,000</h3>
                                        <p class="my-0 small">Supporters</p>
                                    </div>
                                    <div class="w-50 text-align-center">
                                        <h3 class="mb-_5">$9,001</h3>
                                        <p class="my-0 small">per month</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <span><span class="mr-_5 font-weight-bold">Powered by</span><span><img src="/{{directory}}/images/logo-vibrant.png" alt="Comradery logo" height="15"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-4 mb-2 mb-lg-0">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Nice
                    </div>
                    <h2 class="text-align-center">$1</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-2 mb-lg-0">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Bess Fraen
                    </div>
                    <h2 class="text-align-center">$4</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Comrades foh ev ah
                    </div>
                    <h2 class="text-align-center">$10</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
