{{ attach_library('comradery/nonproduct-styling') }}
{{ attach_library('comradery/nonproduct-interaction') }}
{% block stylesheet %}
    <style>
        .homepage-section.alternative, .section-graph-yellow:after{
            background-image:url("/{{ directory }}/images/noisebg2.png");
        }
    </style>
{% endblock %}

{% include '@comradery/header/nonproduct-header.html.twig' %}

{% block body %}
<div class="container pt-4">
    <div class="row homepage-section homepage-section__no-padding mb-4">
        <h1>how comradery works</h1>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <p class="mb-3 large">
                Successful co-ops work in a variety of ways; some are more
                centralized and others like us are more focused on distributed democracy.
                Comradery’s structure is inspired by the democratic organization of rank-and-file led unions.
                Our goal is to be a resource and leadership opportunity to any creators, activists, and cooperative
                organizations who share our mission.
            </p>
            <p class="large">
                Comradery rejects the “hypergrowth” paradigm of the tech industry. Instead, we focus on sustainable growth
                that is guided by our community principles. Below are details on how our organization works. These details
                explore how you can be a part of Comradery as a creator, a voting member-owner, and as a volunteer moderator
                or committee member.
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="mt-5 mb-3">On This Page</h3>
        </div>
    </div>

    <div class="row mb-5 large font-weight-bold">
        <div class="col-lg-6 col-sm-12 mb-sm-2">
            <div anchor="#supporters" class="mb-2"><u>The Supporter Experience</u></div>
            <div anchor="#applicationprocess" class="mb-2"><u>The Application Process</u></div>
            <div anchor="#settingup" class="mb-2"><u>Setting Up Your Creator Account</u></div>
            <div anchor="#projects" class="mb-2"><u>Your Projects</u></div>
                <div anchor="#whatyouoffer"><u>What You Offer Supporters</u></div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div anchor="#gettingpaid" class="mb-2"><u>Getting Paid</u></div>
            <div anchor="#memberownerexperience" class="mb-2"><u>The Member-Owner Experience</u></div>
            <div anchor="#moderationcommittee" class="mb-2"><u>The Moderation and Committee Experience</u></div>
            <div anchor="#foundingmembers"><u>Founding Members</u></div>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-3" id="supporters">The Supporter Experience</h3>
            <p class="large">
                Anyone can be a supporter to any project on comradery.
                It’s fast and easy to make an account and supporters can
                pledge monthly subscriptions of amounts more than $1.
                Supporters are an important part of Comradery, but supporters
                are not member-owners of the co-op and cannot vote until they
                apply to become Creator members.
            </p>
        </div>
    </div>
    <hr>
    <div class="row mt-5 mb-2">
        <div class="col-lg-12">
            <h3 class="mb-3"  id="applicationprocess">The Application Process</h3>
            <p class="mb-3 large">
                Comradery has a basic application and approval process
                that also acts as your orientation. The goal is not to
                be exclusive or judge the credentials of applicants, it
                is to make sure your goals are right for the platform,
                and to make sure you get the resources you need to get
                started. It’s a little different than you might be used to,
                but it’s quick and useful.
            </p>
            <p class="large">
                There are three phases that each serve an important purpose
                and help you better understand the community and how you can
                contribute, and how the platform can work for you:
            </p>
        </div>
    </div>
    <div class="row mt-5 align-items-center">
        <div class="col-lg-4 col-sm-12">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/submitapp.png" alt="">
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 mt-sm-2">
            <p class="large font-weight-bold mb-2">
                Step 1 - Create a Supporter account
            </p>
            <p class="large">
                Create a Supporter account and submit an
                application to become a Creator. This lets
                us know your basic info, what your goals for
                the platform are, and a few accessibility questions
                that help us connect you with another member for the
                next step. Volunteer Moderators will verify your
                contact information and confirm that your organization
                and goals fit with our platform rules.
            </p>
        </div>
    </div>

    <div class="row mt-5 align-items-center">
        <div class="col-lg-8 col-sm-12 order-lg-1 order-md-2 order-sm-2 order-2 mt-sm-2 mt-xs-2">
            <p class="large font-weight-bold mt-md-2">
                Step 2 - The One-on-One
            </p>
            <p class="large mb-2">
                This is the best part! You as an
                applicant will have a 15-minute
                conversation called a ‘One-on-One’
                with a trained Creator who already
                knows the ropes. This usually means
                a voice call over Discord, though other
                accessible options are available
            </p>
            <p class="large">
                The Creator can answer your questions,
                suggest ideas, and help guide you into
                the voting and community processes that
                will help you be a part of the community.
                The purpose of this is not to test you,
                but to introduce you into the community
                and guide you.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 order-lg-2 order-md-1 order-sm-1 order-xs-1">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/oneonone.png" alt="">
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-4 align-items-center">
        <div class="col-lg-4 col-sm-12 mb-sm-2">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/approved.png" alt="">
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p class="large font-weight-bold mb-2">
                Step 3 - Become a Creator
            </p>
            <p class="large">
                After the One-on-One, a Moderator will finish verifying
                everything is cool and upgrade your account to Creator
                status, bring you into the Discord Creator chat server,
                and answer any final questions you have as you get your
                account set up for first-time use. Once that’s done, you’re
                good to go!
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-2" id="settingup">Setting Up Your Creator Account</h3>
            <p class="large mb-3">
                Creators build their project pages, write posts, create tiers,
                and communicate directly with supporters all on Comradery. For
                payments, you will create an account through Stripe to securely connect your bank details and cash out your earnings.
            </p>
            <p class="large">
                <a href="getinvitelink">Sign up for an invite</a>
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-4">
        <div class="col-lg-12">
            <h3 class="mb-2" id="projects">Your Projects</h3>
            <p class="large mb-3">
                On Comradery, Supporters pledge money and see posts on creator-run pages we
                call ‘Projects’. Creators can work on many projects, and many Creators can work
                together on one project, and any combination of those.
            </p>
            <p class="large mb-3">
                At launch, Comradery will allow you to create a dedicated project page with a
                domain extension (ex: comradery.co/yourproject), which you can share with your followers and gain supporters.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-4 col-sm-12 mb-sm-5">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/differentconfigs1.png" alt="">
            </div>
            <p class="large font-weight-bold text-align-center mt-1">
                One creator can run a project independently
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 mb-sm-5">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/differentconfigs3.png" alt="">
            </div>
            <p class="large font-weight-bold text-align-center mt-1">
                One creator can join and manage multiple projects
            </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="howwe-graphic">
                <img src="/{{ directory }}/images/differentconfigs2.png" alt="">
            </div>
            <p class="large font-weight-bold text-align-center mt-1">
                Multiple creators can manage the same project
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-3 mb-2" id="whatyouoffer">What You Offer Supporters</h3>
            <p class="large mb-3">
                As a Creator, you can create paid tiers for supporters so they can only see certain
                content if they pledge at a specific level. Your Supporters are primarily here to
                support you and your work. If your work takes place outside of Comradery, great!
            </p>
            <p class="large">
                There is no obligation to offer rewards to supporters or make your page in any
                way transactional. If you want to offer perks and bonuses to your supporters to
                thank them for subscribing, that’s ok too! Our goal at Comradery is to support all
                accounts, whether they are large or small, or if they offer perks or are donation-based.
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-3 mb-2" id="gettingpaid">Getting Paid</h3>
            <p class="large mb-3">
                Supporters complete payment on Comradery, and your payment details, bank information,
                and bank transfers are handled through <a href="https://stripe.com" target="_blank">Stripe</a>.
            </p>
            <p class="large mb-3">
                You create a merchant account on Stripe’s website to handle your financial details and transfer
                funds to your bank. Supporters will have their accounts charged on the 1st of each month for all
                of their subscriptions. Minimum subscriptions are $1/month, and new supporters are offered pro-rated
                subscriptions where they will have a reduced rate for their second month if they didn’t subscribe on
                the first of the month.
            </p>
            <p class="large">
                <a href="pricingurl">Learn more about payments and Stripe</a>
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-3 mb-2" id="memberownerexperience">The Member-Owner Experience</h3>
            <p class="large mb-4">
                As a Creator, you will be a voting member and co-owner of Comradery. This is the most important and exciting
                part of the platform! As a co-op, we are drafting an official charter that will outline all the specifics on
                how the co-op works. We will be working with Creators to democratically determine the details of the charter,
                but, for now, here are some broad strokes on what participation in the co-op looks like.
            </p>
            <p class="large font-weight-bold mb-3">
                What you vote on
            </p>
            <p class="large mb-3">
                Members vote on proposals, amendments, and elections that affect everything from site
                roadmap to day-to-day operations. For example: Members may decide that Comradery should
                offer a new feature, like file hosting. The Tech and Design Committee might advise that this
                will require an increase in operation funds. Members could propose a motion to increase operation
                funds by changing the amount of dues or using surplus, and the general membership would decide if
                the feature is worth the change, discuss it, and vote on the proposal over a window of time.
            </p>
            <p class="large mb-4">
                Workers are the best people to decide what features and operations the site should perform, so Creators
                propose and vote on how Comradery will work. In the above example, the Tech and Design Committee would be
                responsible for implementing the feature change and would advise and help pass such a change, so expertise
                is always heavily considered along with popular demand.
            </p>
            <p class="large font-weight-bold mb-2">Meetings</p>
            <p class="large">
                General and Committee meetings are open to all member-owners (meaning Creators) and are held over voice chat
                in the Comradery Discord server. Day-to-day votes are also held in Discord, major votes are held over Google
                Forms over a longer timespan to allow all members to participate. The meetings are structured using <a href="https://libcom.org/files/Rusty%27s%20Rules%20(IWW)%20-%20Copy.pdf" target="_blank">Rusty’s
                Rules of Order</a>, a simplified parliamentary procedure with a focus on making sure every member’s ideas are heard
                and listened to. The Good and Welfare Committee is responsible for ensuring members adhere to good conduct during
                meetings and that they are held equitably.
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <h3 class="mb-3 mb-2" id="moderationcommittee">The Moderation and Committee Experience</h3>
            <p class="large mb-4">
                Committees are made up of volunteer members to help with specific areas of focus. Anyone can volunteer to be on a
                committee, and the committee chair is elected to help with facilitation and leadership of tasks. Committees can have
                as few as two Members, and joining one or more is highly encouraged. It is important to actively give everyone leadership
                practice so members can take on more leadership roles autonomously and proactively.
            </p>
            <p class="large font-weight-bold mb-2">
                Committees
            </p>
            <p class="large mb-4">
                At launch, there are five committees at Comradery:
            </p>
            <p class="large mb-4">
                <span class="committee text-weight-bold">The Good and Welfare Committee</span> - this committee is in charge of developing the code and conduct and to promote
                inclusion and a positive environment.
                <br><br>
                <span class="committee text-weight-bold">The Steering Committee</span> - this committee helps develop a future vision for Comradery by planning the roadmap and making proposals for community goals.
                <br><br>
                <span class="committee text-weight-bold">The Outreach Committee</span> - this committee handles press interaction, messaging for new members, and developing the wording, copy and documentation on Comradery
                <br><br>
                <span class="committee text-weight-bold">The Tech and Design Committee</span> - this committee is responsible for developing, implementing and deploying all the technology for the site
                <br><br>
                <span class="committee text-weight-bold">The Treasury Committee</span> - this committee handles finances, addresses any issues with site funding and longevity, and works with tax professionals for managing the taxes for the site
            </p>
            <p class="large font-weight-bold mb-2">
                Moderators
            </p>
            <p class="large">
                Moderation is an important part of helping new users with the application process. Moderators will also help in fielding
                questions and complaints to be sure that all Creators and Supporters are following the code of conduct. Moderation is a
                volunteer position, but it’s one of our funding goals to finance a stipend for the work moderators do.
            </p>
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-4">
        <div class="col-lg-12">
            <h3 class="mb-3" id="foundingmembers">Founding Members</h3>
            <p class="large">
                We’re a group of activists and workers spread out all over the USA. The founding member team’s goal is to lend
                our skills to jump-start Comradery as an organization and hand off duties to new members as we grow and improve.
            </p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-lg-6 col-sm-12 mb-sm-3 d-flex flex-wrap align-items-start">
            <div class="who-image">
                <img src="/{{ directory }}/images/cade_image.png" alt="">
            </div>
            <div class="who-text large">
                <b>Cade Underwood</b>
                <br><br>
                Cade is an organizer and soon-to-be movement lawyer in Philadelphia. Cade researches housing policy, organizes with service workers in Philly, and is developing the legal and financial structures of Comradery.
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex flex-wrap align-items-start">
            <div class="who-image">
                <img src="/{{ directory }}/images/majed_image.png" alt="">
            </div>
            <div class="who-text large">
                <b>Majed Elass</b>
                <br><br>
                Majed is a UX/UI Designer &amp; Developer in the Northern Virginia area and co-founder of Pixel Commerce LLC,
                a worker co-op that builds web applications. Majed is building
                the technology that Comradery runs on.
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-sm-12 mb-sm-3 d-flex flex-wrap align-items-start">
            <div class="who-image">
                <img src="/{{ directory }}/images/ty_image.png" alt="">
            </div>
            <div class="who-text large">
                <b>Ty Underwood</b>
                <br><br>
                Ty is a labor organizer, designer, and professor of design in Seattle. They are working to develop the design and organization structure of Comradery.
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-sm-3 d-flex flex-wrap align-items-start">
            <div class="who-image">
                <img src="/{{ directory }}/images/john_image.png" alt="">
            </div>
            <div class="who-text large">
                <b>John Dorsey</b>
                <br><br>
                John is a writer, performer and activist currently located in Atlanta Georgia. They are also a co-owner of Pixel Commerce LLC, a digital design worker co-op. John is assisting in the language and copy of Comradery.
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 mb-sm-3 d-flex flex-wrapx` align-items-start">
            <div class="who-image">
                <img src="/{{ directory }}/images/alana_image.png" alt="">
            </div>
            <div class="who-text large">
                <b>Alana Lynch</b>
                <br><br>
                Alana is a labor organizer, musician, and amateur historian in Seattle. They are studying parliamentary procedure and working to develop the democratic structure, bylaws, and code of conduct for Comradery.
            </div>
        </div>
    </div>
</div>
{% endblock %}
