{{ attach_library('comradery/nonproduct-styling') }}
{{ attach_library('comradery/nonproduct-interaction') }}
{% block stylesheet %}
    <style>
        .homepage-section.alternative, .section-graph-yellow:after{
            background-image:url("/{{ directory }}/images/noisebg2.png");
        }
    </style>
{% endblock %}

{% include '@comradery/header/nonproduct-header.html.twig' %}

{% block body %}
    <div class="container pt-4">
        <div class="row homepage-section homepage-section__no-padding mb-4">
            <h1>Who Comradery is for</h1>
        </div>
        <hr>
        <div class="row justify-content-between row__justify-between mt-5 mb-3">
            <div class="col-lg-6 col-sm-12">
                <h3 class="mb-2">Who Comradery is for</h3>
                <p class="large mb-5 mb-sm-2">
                    Comradery membership is designed for independent creators, workers, and activists,
                    and cooperatively-owned organizations (referred to from here on as ‘Creators’) who need
                    a place to connect with their audiences and supporters to raise a monthly income.
                    <br><br>
                    Creators can offer various rewards to their Supporters such as posts, videos, photos
                    and more. Creators can set tiers to restrict which supporters can access which rewards,
                    based on their subscription amount. Alternatively, creators can choose to not share any
                    rewards with supporters and accept donations for work done outside of Comradery. We strongly
                    support all of these approaches and do not privilege one above the other.
                </p>
                <h3 class="mb-2">Who Comradery is not for</h3>
                <p class="large mb-5">
                    Comradery is NOT intended for any business or nonprofit that is not cooperatively owned. Comradery is NOT for anyone employed by, or raising money for law enforcement agencies of any kind. This is our ‘No Bosses, No Cops’ rule.
                    <br><br>
                    A ‘boss’ is defined as a business owner who employs workers, or a manager with hiring and firing power. Bosses are faced with an inherent conflict of interest - the long term health and success of Comradery as a co-op will eventually stand against their obligations as a business owner.  Small companies also create the same conflict of interest if more than 50% of the work is performed by contractors or if the company hires one or more employees.
                    <br><br>
                    This includes charities and nonprofits with paying benefactors, which create the same conflicts, and are completely incompatible with a democratically controlled cooperative platform. Organizations are encouraged to transition to a cooperative business model or mutual aid network. At that time, they will be welcomed at Comradery.
                    <br><br>
                    Comradery also does not allow money to be raised for or by law enforcement due to the violence and oppression marginalized communities face from the police. Fundraising platforms are frequently utilized to reward violent police officers for murder. Our definition includes those employed or contracted by local, state, and federal agencies of the United States, and the equivalent of any other nation. This definition extends to armed private security and military police. Anyone previously employed by law enforcement who has quit is welcome to use the platform if they follow all community standards.

                </p>
            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="section-graph-outline section-graph-yellow p-3 p-sm-2">
                    <div class="list">
                        <div class="list__row">
                            <div class="list__number">
                                <div class="icon">{{ source(directory ~ '/images/icons/check.svg') }}</div>
                            </div>
                            <ul class="list__text">
                                <span class="font-weight-bold">Comradery is for:</span>
                                <li>Activists</li>
                                <li>Designers</li>
                                <li>Mutual aid programs</li>
                                <li>Artists</li>
                                <li>Labor Organizers</li>
                                <li>Podcasters</li>
                                <li>Cooperative Organization</li>
                                <li>Journalists</li>
                                <li>Programmers</li>
                                <li>Videographers</li>
                                <li>Community Groups</li>
                                <li>And many more!</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="section-graph-outline section-graph-yellow p-3 p-sm-2 mt-3">
                    <div class="list">
                        <div class="list__row">
                            <div class="list__number"><div class="icon">{{ source(directory ~ '/images/icons/x.svg') }}</div></div>
                            <ul class="list__text">
                                <span class="font-weight-bold">Comradery is NOT for:</span>
                                <li>Bosses</li>
                                <li>Non-cooperatively owned businesses</li>
                                <li>Police officers or other forms of law enforcement</li>
                                <li>Charities</li>
                                <li>Those unwilling to follow the Comradery Charter and Community Rules</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="statementofantiracism" class="row">
            <div class="col-lg-12">
                <div class="section-graph-outline section-graph-yellow p-3 p-sm-2">
                    <h3 class="margin-lg__bottom-md">Statement of Anti-Racism, Justice, and Inclusion</h3>
                    <p class="text-size__extra-large">
                        Our goal at Comradery is to be actively and radically inclusive of marginalized people and communities. We hold that elevating marginalized voices on a platform that is privately owned is not only insufficient, but is worker exploitation. The only path to empowering marginalized creators is through co-ownership of the platform itself and through democratic control by all workers. We disavow the empty actions of companies that performatively elevate BIPOC (Black, Indigenous, People of Color), queer, and other marginalized voices while retaining control of the means of production. The bare minimum of any company is to relinquish ownership and share control equally.
                        <br><br>
                        Even though cooperative ownership is necessary, it is not yet sufficient. Democratic control of a system without strong anti-racist and inclusive actions will simply mirror the racist and exploitative democratic processes already present in society. The backbone of Comradery is our Good and Welfare committee who oversees community moderation and is a watchdog for inclusive actions for the rest of the co-op. Like outlined above, our organization bars agents of state violence from becoming members. Our charter is designed to distribute, not consolidate power. Positions of authority are unpaid in order to discourage members from entrenching themselves in leadership and exploiting positions of power. We actively create opportunities for new leaders to take on responsibilities and actively encourage existing leaders to ‘replace themselves’ by finding new members to lead.
                        <br><br>
                        Our commitment to justice will not be marked by allowing creators to keep more money when the PR serves us, because creators already control 100% of the money. Our commitment to justice will be marked by constantly evolving and constantly reinforcing institutional action at every level of Comradery as a cooperative organization.
                        <br><br>
                        <b>In Solidarity,
                        <br>
                        The Black, POC, and queer members of Comradery</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
