{{ attach_library('comradery/nonproduct-styling') }}
{{ attach_library('comradery/nonproduct-interaction') }}
{% block stylesheet %}
    <style>
        .homepage-section.alternative, .section-graph-yellow:after{
            background-image:url("/{{ directory }}/images/noisebg2.png");
        }
    </style>
{% endblock %}

{% include '@comradery/header/nonproduct-header.html.twig' %}

{% block body %}
    <div class="container pt-4">
        <div class="row homepage-section homepage-section__no-padding mb-lg-4">
            <div class="col-lg-12">
                <h1>payment</h1>
            </div>
        </div>
        <hr>
        <div class="row mt-4 mb-5">
            <div class="col-lg-12">
                <p class="large">
                    Transaction fees (or as we call them ‘dues’) are significantly cheaper on Comradery
                    than on other platforms. This is because, by becoming a part of Comradery, you are
                    joining a community that is self-determined, self-run, and built from the ground up
                    for mutual aid. Dues pay for server upkeep and various costs of doing business, but
                    Comradery does not pay any salaries, has no investors, and profit is returned to the creators.
                </p>
            </div>
        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-1 d-sm-hide d-m-hide d-lg-block"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="section-graph-outline section-graph-blue mb-2 p-2">
                    <h1 class="text-center font-weight-bold text-outline">2.9% + 30&cent;</h1>
                </div>
                <div class="row align-content-center justify-content-center text-weight-bold mb-1">Card payment processing <a href="https://stripe.com/pricing" class="ml-1" target="_BLANK"><img src="/{{ directory }}/images/powered_by_stripe@2x.png" height="26"></a></div>
                <div class="row justify-content-center">
                    <img src="/{{ directory }}/images/card-amex.png" height="30" class="mr-1">
                    <img src="/{{ directory }}/images/card-discover.png" height="30" class="mr-1">
                    <img src="/{{ directory }}/images/card-mastercard.png" height="30" class="mr-1">
                    <img src="/{{ directory }}/images/card-visa.png" height="30" class="mr-1">
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <div class="row justify-content-center align-content-center pt-3">
                    <h1>+</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-md-4">
                <div class="section-graph-outline section-graph-yellow mb-2 p-2">
                    <h1 class="text-center font-weight-bold text-outline">2.5%</h1>
                </div>
                <div class="text-weight-bold text-center">Comradery dues</div>
            </div>
            <div class="col-lg-1 d-sm-hide d-m-hide d-lg-block"></div>
        </div>

        <hr class="mt-5 mb-5">

        <div class="row padding-lg__bottom-lg">
            <div class="col-lg-6 col-sm-12">
                <h3>Payment Processing</h3>
                <p class="large mt-3 mb-5">
                    Like many platforms, our payment processing operates through Stripe Payment Processing. Their fees are standardized for every platform at 2.9% + 30 cents per transaction. At this point, it’s not technically viable for us to process cards in-house, so this cost is unavoidable and does not contribute to the co-op.
                    <br><br>
                    However, through your Creator Stripe account, you are able to easily access your funds and get a direct deposit to your bank without any extra fees. Through that account, Stripe also handles the forms for you to file your own taxes (if applicable) on your earnings.
                </p>
                <div class="row d-lg-none">
                    <div class="col-md-12">
                        <div class="section-graph-outline section-graph-yellow p-2">
                            <div class="graph-homepage-container is__static">
                                <div class="graph-comradery homepage-bar">
                                    <div class="homepage-bar-stripe">
                                        <div class="stripe_text font-weight-bold">
                                            Stripe payment <br/> processing
                                        </div>
                                    </div>
                                    <div class="homepage-bar-comradery">
                                        <div class="first_percentage font-weight-bold">2.5% Dues</div>
                                    </div>
                                    <div class="homepage-bar-default">
                                        <div class="take_text font-weight-bold">What you take home</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-3">Where does it all go?</h3>
                <p class="large mt-3 mb-2">
                    There are several immediate costs to pay for: Servers, CDN services, domains, legal fees, accounting fees, etc. We estimate that we can cover these fees and become ‘self sustaining’ with a relatively low number of active Creators. Comradery does not pay any salaries. Administrative work for the site or organization is done through volunteer committees or is funded directly from contributions - like all other projects on the platform.
                    <br><br>
                    <b>What happens to the surplus dues will be decided democratically</b>
                    <br><br>
                    In the future, important anti-racism, inclusion, and moderation work will be paid for via stipends funded by our dues. Other potential uses for surplus might be developing community projects, projects to create material benefits for struggling Creators, or even just a direct dividend payment equally back to all Creators. You will have the opportunity to propose projects and vote on your ideas.
                </p>
                <p class="large">
                    <a href="howwework">Learn more about how the co-op works our democratic process</a>
                </p>

                <h3 class="mt-5 pt-3">International Payments</h3>
                <p class="large mt-3 mb-2">
                    Our payment processor Stripe currently supports currency conversion from 26 countries. This allows relatively seamless transactions for all creators and supporters in these territories. Some fees may be added by Stripe for international transactions.
                </p>
                <p class="large mt-2">
                    <a href="https://stripe.com/docs/currencies" target="_blank">Learn more about international payments in Stripe’s Documentation.</a>
                </p>
            </div>
            <div class="col-lg-1 d-none d-lg-block"></div>
            <div class="col-lg-5 col-sm-12 d-none d-lg-block">
                <div class="section-graph-outline section-graph-yellow p-2">
                    <div class="graph-homepage-container is__static">
                        <div class="graph-comradery homepage-bar">
                            <div class="homepage-bar-stripe">
                                <div class="stripe_text font-weight-bold">
                                    Stripe payment <br/> processing
                                </div>
                            </div>
                            <div class="homepage-bar-comradery">
                                <div class="first_percentage font-weight-bold">2.5% Dues</div>
                            </div>
                            <div class="homepage-bar-default">
                                <div class="take_text font-weight-bold">What you take home</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
