{% block body %}
    <div class="bg-white py-3">
        <div class="container d-flex flex-wrap align-items-center">
            <h3 class="mr-2 mb-1 mb-lg-0">Comradery Tech &amp; Design Committee</h3>
            <a href="{{ url("comradery.project") }}">Back to project page</a>
        </div>
    </div>
    <div class="container {% if logged_in %} mt-2 mt-lg-5 {% else %} mt-2 mt-lg-4 {% endif %}">
        <div class="row mb-4">
            <div class="col-lg-12">
                <h2 class="text-align-center">Select a tier</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2 mb-lg-0">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Nice
                    </div>
                    <h2 class="text-align-center">$1</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2 mb-lg-0">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Bess Fraen
                    </div>
                    <h2 class="text-align-center">$4</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-shadow p-2">
                    <div class="mb-2 font-weight-bold text-align-center">
                        Comrades foh ev ah
                    </div>
                    <h2 class="text-align-center">$10</h2>
                    <div class="mb-2 text-gray-400 text-align-center">
                        per month
                    </div>
                    <div class="mb-2">
                        <img src="/{{directory}}/images/tier-img.png" class="has-border img-fluid" alt="">
                    </div>
                    <a href="{{ url('comradery.subscribe') }}" class="btn btn-primary btn-block mb-2" style="background-color:#FFD467; color:#1c1c1c;">Subscribe</a>
                    <div class="mb-1">
                        This is the descriptor of this tier
                    </div>
                    <ul class="pl-2 my-0">
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                        <li>This is a bulleted list</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
