{% include '@comradery/header/product-header.html.twig' %}


{% block body %}
    <div class="modal fade" id="change-settings-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="d-none" id="change-email-modal">
                {% include "@comradery/modals/modal-changeemail.html.twig" with {"":""} %}
            </div>
            <div class="d-none" id="change-password-modal">
                {% include "@comradery/modals/modal-changepassword.html.twig" with {"":""} %}
            </div>
            <div class="d-none" id="change-name-modal">
                {% include "@comradery/modals/modal-changename.html.twig" with {"":""} %}
            </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <h1>Account settings</h1>
            </div>
        </div>
    </div>
    <div class="w-100 bg-gray-100 mt-3 pt-3 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card card-shadow p-2">
                        <h3 class="mr-2 mb-2">Profile Details</h3>
                        <div class="d-flex flex-wrap align-items-center justify-content-center flex-md-nowrap">
                            <div class="image-profile flex-shrink-0 image-profile-large">
                                <img src="" alt="">
                            </div>
                            <div class="w-100 pl-0 pl-md-2 mt-1 mt-md-0">
                                <div class="font-weight-bold">You currently don’t have a profile picture</div>
                                <div class="mt-_5">Image should be at minimum 200 x 200 pixels</div>
                                <div class="mt-_5">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profile-upload">
                                        <label class="custom-file-label" for="profile-upload" aria-describedby="profile-upload">Upload image now</label>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center justify-content-center flex-md-nowrap">
                            <div class="image-profile flex-shrink-0 image-profile-large">
                                <img src="/{{directory}}/images/majed_image.png" alt="">
                            </div>
                            <div class="w-100 pl-0 pl-md-2 mt-1 mt-md-0">
                                <div class="font-weight-bold">Profile picture</div>
                                <div class="mt-_5">Image should be at minimum 200 x 200 pixels</div>
                                <div class="mt-_5">
                                    <div class="custom-file d-inline-block">
                                        <input type="file" class="custom-file-input" id="profile-upload">
                                        <label class="custom-file-label" for="profile-upload" aria-describedby="profile-upload">Change image</label>
                                   </div>
                                   <button class="btn btn-link p-0 ml-2">Remove image</button>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <small class="mb-_5">Display name</small>
                        <span class="font-weight-bold">You don’t have a display name yet. <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#change-settings-modal" data-type="#change-name-modal">Add one now</a></span>
                        <span class="font-weight-bold">Majed Elass <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#change-settings-modal" data-type="#change-name-modal">Change name</a></span>
                    </div>

                    <div class="card card-shadow p-2 mt-3">
                        <div class="d-flex align-items-center flex-nowrap">
                            <h3>Account email address</h3>
                            <button class="btn btn-primary ml-auto" data-toggle="modal" data-target="#change-settings-modal" data-type="#change-email-modal">Change</button>
                        </div>
                    </div>

                    <div class="card card-shadow p-2 mt-3">
                        <div class="d-flex align-items-center flex-nowrap">
                            <h3>Account password</h3>
                            <button class="btn btn-primary ml-auto" data-toggle="modal" data-target="#change-settings-modal" data-type="#change-password-modal">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
