{% include '@comradery/header/product-header.html.twig' %}


{% block body %}
    <div class="modal fade" id="add-new-card" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include "@comradery/modals/modal-addcard.html.twig" with {"":""} %}
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <h1>My wallet</h1>
            </div>
        </div>
    </div>
    <div class="w-100 bg-gray-100 mt-3 pt-3 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card card-shadow p-2">
                        <div class="d-flex">
                            <h3 class="mr-2">Credit Cards</h3>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-new-card"><span class="icon icon-sm mr-1">{{source(directory ~ "/images/icons/plus.svg")}}</span><span>Add new</span></button>
                        </div>
                        <hr class="mt-2 mb-3">
                        <div class="row mb-2">
                            <span class="col-lg-6 col-md-12"><span class="mr-_5"><img src="/{{directory}}/images/card-amex.png" width="30" alt=""></span><span class="mr-1">Ending in 1696</span><span class="badge badge-info">Default</span></span>
                            <div class="col-lg-6 col-md-12 d-lg-inline-flex">
                                <button class="btn-link btn p-0 ml-md-auto">Remove</button>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-lg-6 col-md-12"><span class="mr-_5"><img src="/{{directory}}/images/card-visa.png" width="30" alt=""></span><span class="mr-1">Ending in 1696</span></span>
                            <div class="col-lg-6 col-md-12 d-lg-inline-flex">
                                <button class="btn-link btn p-0 ml-md-auto">Make default</button>
                                <button class="btn-link btn ml-2 p-0">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
