{% include '@comradery/header/product-header.html.twig' %}


{% block body %}
    <div class="modal fade" id="add-new-card" tabindex="-1" aria-labelledby="add-new-card" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include "@comradery/modals/modal-addcard.html.twig" %}
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <h1>Finalize your subscription</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <span class="mr-1">Comradery Tech &amp; Design Committee</span>
                <a href="">Go back to project page</a>
            </div>
        </div>
    </div>
    <div class="bg-brand-200 mt-3 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-shadow p-2">
                        <h5 class="mb-2">How much do you want to subscribe to monthly?</h5>
                        <p class="mb-1">The minimum for this tier is $3.00 USD per month</p>
                        <input type="text" class="form-control" data-type="currency" data-minimum="3" placeholder="$0.00" value="$3.00">
                    </div>
                    <div class="card card-shadow mt-2 p-2">
                        <h5 class="mb-2">Which payment method would you be using?</h5>
                        <div>
                            <div class="custom-control custom-radio mb-1">
                                <input type="radio" checked class="custom-control-input" id="card-option-1" name="card-option">
                                <label class="custom-control-label" for="card-option-1"><img src="/{{directory}}/images/card-amex.png" width="30" alt="" class="mr-_5"><span class="mr-1">Ending in 1696</span><span class="badge badge-info">Default</span></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="card-option-2" name="card-option">
                                <label class="custom-control-label" for="card-option-2"><img src="/{{directory}}/images/card-visa.png" width="30" alt="" class="mr-_5"><span class="mr-1">Ending in 1696</span></label>
                            </div>
                            <div class="mt-1">
                                <button class="btn btn-link p-0" data-toggle="modal" data-target="#add-new-card"><span class="icon icon-md mr-1">{{source(directory ~ "/images/icons/plus.svg")}}</span> Add a new card</button>
                            </div>
                        </div>
                    </div>
                    <div class="card card-shadow mt-2 p-2">
                        <h5 class="mb-2">Payment breakdown</h5>
                        <div class="d-flex mb-1">
                            <span>Prorated amount to pay today</span>
                            <span class="pl-2 ml-auto">$0.59</span>
                        </div>
                        <div class="d-flex mb-_5">
                            <span>Sales tax</span>
                            <span class="pl-2 ml-auto">$0.63</span>
                        </div>
                        <small class="text-gray-400 mb-1">Sales tax applies because exclusive rewards are classified as "digital goods" in your territory. <a href="">Find out more.</a></small>
                        <div class="d-flex mb-_5">
                            <span class="font-weight-bold">Total</span>
                            <span class="pl-2 ml-auto font-weight-bold">$1.22</span>
                        </div>
                        <div class="bg-gray-100 p-_5">
                            <small class="font-weight-bold d-block mb-_5">Your rate is prorated for your first billing because it’s after the 1st of the month.</small>
                            <small class="d-block">Your next month’s billing is going to be $2.00 + $0.16 sales tax for a total of $2.16.</small>
                        </div>
                        <div class="mt-2">
                            <div class="font-weight-bold">
                                We bill every 1st of the month after your initial subscription.
                            </div>
                            <a href="">Why we do this</a>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mt-3">
                        <button class="btn btn-lg btn-primary  btn-md-size-full mb-2">Subscribe to project</button>
                        <button class="btn btn-lg btn-link btn-md-size-full">Cancel</button>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="card bg-gray-600 text-white p-2">
                        <h4 class="mb-2">Where the funds go</h4>
                        <div class="mb-1">We like to show you where the money goes when you subscribe.</div>
                        <div class="mb-1"><b>Creator takes:</b> ~ $0.27</div>
                        <div class="mb-1"><b>Credit card takes:</b> ~ $0.31</div>
                        <div class="mb-1"><b>Comradery takes:</b> ~ $0.01</div>
                        <div><b>Sales tax:</b> $0.63</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
