{{ attach_library('comradery/nonproduct-styling') }}
{{ attach_library('comradery/nonproduct-interaction') }}
{% block stylesheet %}
    <style>
        .homepage-section.alternative, .section-graph-yellow:after{
            background-image:url("/{{ directory }}/images/noisebg2.png");
        }
        .subnav{
            width:100%;
            list-style:none;
            margin:0;
            padding:0;
            overflow:hidden;
            background-color:#434343;
            height:44px;
            z-index:2
        }

        .subnav .subnav-container{
            width:100%;
            height:44px;
            padding-bottom:20px;
            overflow-x:auto;
            padding:0 10px;
            display:flex;
            align-items:center;
        }

        .subnav-container li{
            padding:0 10px;
            margin-right:10px;
            flex-shrink:0;
            font-weight:700;
            font-size:14px;
            cursor:pointer;
            color:#FFFFFF;

            &:not(:last-child){
                margin-bottom:0;
            }
        }

        .subnav.is__sticky{
            position:fixed;
            top:0;
        }
    </style>
{% endblock %}

{% include '@comradery/header/nonproduct-header.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mb-2 pt-2">
        <div class="col-lg-12">
            <h1>Press Kit</h1>
        </div>
    </div>
</div>
<ul class="subnav">
    <div class="subnav-container">
        <li anchor="#press-factsheet">Factsheet</li>
        <li anchor="#press-description">Description</li>
        <li anchor="#press-history">History</li>
        <li anchor="#press-podcast">Podcast</li>
        {# <li anchor="#press-videos">Videos</li> #}
        <li anchor="#press-images">Images</li>
        <li anchor="#press-logo">Logo &amp; Icon</li>
        {# <li anchor="#press-articles">Selected Articles</li> #}
        <li anchor="#press-team">Team</li>
        <li anchor="#press-contact">Contact</li>
    </div>
</ul>
<div class="container mb-5 presskit">
    <div class="row row__justify-between pt-2">
        <div id="press-factsheet" class="col-lg-4 col-sm-12 mb-2">
            <h4 class="mb-2">Factsheet</h4>
            <div class="mb-2">
                <b>Developer:</b>
                <br>
                Comradery Worker Cooperative
                <br>
                Based in Philadelphia, Pennsylvania
            </div>

            <div class="mb-2">
                <b>Founding date:</b>
                <br>
                June 1, 2020
            </div>

            <div class="mb-2">
                <b>Website:</b>
                <br>
                <a href="https://www.comradery.co">https://www.comradery.co</a>
            </div>

            <div class="mb-2">
                <b>Press / business contact:</b>
                <br>
                <a href="mailto:info@comradery.co">info@comradery.co</a>
            </div>

            <div class="mb-2">
                <b>Social:</b>
                <br>
                <a href="https://twitter.com/comraderycoop" target="_blank">Twitter</a>
            </div>

            {# <div class="margin-lg__bottom-md">
                <b>Releases:</b>
                <br>
            </div>

            <div class="margin-lg__bottom-md">
                <b>Address:</b>
                <br>
                Address 1
                <br>
                Address 2
                <br>
                Address 3
            </div>

            <div class="margin-lg__bottom-md">
                <b>Phone:</b>
                <br>
                000-000-0000
            </div> #}
        </div>
        <div class="col-lg-7 col-sm-12">
            <div id="press-description" class="mb-5">
                <h4 class="mb-2">Description</h4>
                <p class="large">
                    Independent artists, creators, workers, and activists can create posts, videos, photos and more to offer to supporters
                    for a monthly subscription. As a co-op, we are something truly new- all creators cooperatively own and democratically
                    control Comradery together.
                    <br><br>
                    Payment platforms for small creators like Patreon and OnlyFans are more popular than ever, but these companies continue
                    to change their policies and pivot their business models to create returns for their venture capital investors, <a href="https://www.vice.com/en_us/article/xg8qqq/onlyfans-cutting-creator-referral-program-bonuses-payout" target="_BLANK">while
                    hurting the creators</a> on <a href="https://www.cnbc.com/2019/01/23/crowd-funding-platform-patreon-announces-it-will-pay-out-half-a-billion-dollars-to-content-creators-in-2019.html" target="_BLANK">their platforms</a>. Unlike the "disruptions" typical to tech startups, Comradery is intended to
                    disrupt the industry in a real and fundamental way- by placing ownership in the hands of the workers who actually create
                    value on the platform.
                    <br><br>
                    Other platforms exist to extract data and labor from content creators, Comradery exists to pool creator resources to
                    share tools and leadership for the benefit of all. <a href="paymenturl">Creators pay 2.5% in dues from their earnings</a>. These dues do not go
                    to salaries or investor profit margins, instead dues cover shared costs - like our servers.  Meanwhile, Creators themselves
                    manage site operations through <a href="howweworkurl#moderationcommittee">five leadership committees</a>.
                    <br><br>
                    <a href="https://www.co-oplaw.org/special-topics/worker-cooperatives-performance-and-success-factors/" target="_blank">Worker co-ops are more stable on average than other businesses</a>, and Comradery extends that stability and control to
                    the world of independent artists, activists, and organizers. Every Creator account on Comradery must either be an
                    independent worker or a member of a worker cooperative (<a href="https://www.co-oplaw.org/special-topics/worker-cooperatives-performance-and-success-factors/" target="_blank">No bosses</a>). Moreover, new Creators go through a three-step
                    application process for vetting and a personal introduction to the platform. Our mission is to cultivate distributed
                    leadership, solidarity, and mutual-aid through the proven organizing methods of the labor union movement.
                </p>
                <p class="large mt-3">
                    <b>Main Features</b>
                    <ul class="large mt-1">
                        <li>
                            Creators can build project pages for their supporters to pledge monthly payments of $1 or more
                        </li>
                        <li>
                            Creators can post many different kinds of content and media for their supporters
                        </li>
                        <li>
                            Every Creator has access to all features at a universal 2.5% dues rate
                        </li>
                        <li>
                            Creators can restrict different posts to custom payment tiers
                        </li>
                        <li>
                            Project pages feature full, open customization and allow Creators to make public and/or paywalled posts with no restrictions
                        </li>
                        <li>
                            One Creator can administer multiple Projects (such as a youtube channel and a podcast)
                        </li>
                        <li>
                            Multiple creators can co-administer a single Project (worker cooperative members are welcome to all join as individual voting creators on Comradery)
                        </li>
                        <li>
                            Due to our application, Creator vetting, and distributed leadership process, Comradery is Nazi Free&trade;
                        </li>
                    </ul>
                </p>
            </div>

            <div id="press-history" class="mb-5">
                <h4 class="mb-2">History</h4>
                <b class="large font-weight-bold">Concept</b>
                <br>
                <br>
                <p class="large">
                    Ty works with the ongoing struggle in the games industry to organize a union to empower workers, and they saw a parallel with the struggle of independent creators
                    on Patreon and OnlyFans.Friends and colleagues who rely on platforms for their income were struggling because Patreon continued to change rules that benefitted
                    higher-earners and hurt the majority of creators on the platform. There were not many organizing options for the many different kinds of independent artists that
                    used these platforms to survive. Ty realized that developing a mutual aid network that offered the same features as Patreon would be possible, and cost effective,
                    with a small team. Ty and Majed Elass began work on the project in late 2019.
                </p>
                <br>
                <b class="large font-weight-bold">Development</b>
                <br>
                <br>
                <p class="large">
                    Majed Elass joined the project and brought his significant technical background to the development of Comradery. They were soon joined by John Dorsey, who contributes
                    writing and outreach, and Cade Underwood joined to contribute financial and legal expertise. The project moved into full swing development in April 2020. As of July 2020,
                    Comradery has moved out of closed development and into a community outreach phase where we are asking interested creators to sign up for an invitation, and to soon be actively
                    involved in developing the organization.
                </p>
                <br>
                <b class="large font-weight-bold">Organization</b>
                <br>
                <br>
                <p class="large">
                    In July 2020, Comradery registered as a worker co-op in Philadelphia, PA. The founding team brings years of experience in union organizing campaigns and activism to the project.
                    Each of the founding members has gone through the process of developing an effective organizing charter, distributed leadership systems, financing mutual aid networks, and mediating
                    conflict in a growing organization. Comradery brings many new challenges to the solidarity organizing model, but systems are being developed to handle growth with a focus on <a href="whoforurl#statementofantiracism">anti-racism,
                    inclusion, and transformative justice.</a>
                </p>
                <br>
                <b class="large font-weight-bold">The Future</b>
                <br>
                <br>
                <p class="large">
                    In the coming months, the platform technology will move into public beta. At that time, creators will be invited to launch their projects, businesses, and creations on Comradery.
                    Creators will take on leadership positions and help develop the feature roadmap for the platform.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-lg-12">
            {# <div id="press-videos" class="margin-lg__bottom-md">
                <h4 class="margin-lg__bottom-md">Videos</h4>
                <p class="text-size__large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eros faucibus, ullamcorper odio non, posuere magna. Sed vitae nisl tempor, laoreet est vehicula, dictum dui. In euismod lacus orci, sed porta justo volutpat finibus. Mauris non sollicitudin urna. Nunc quis enim in eros ornare dapibus vel quis mi. Praesent ut rhoncus leo. Sed cursus lobortis ipsum, ac ultrices metus lobortis pellentesque. Ut imperdiet pellentesque arcu sed sollicitudin. Curabitur euismod rhoncus ante, vitae imperdiet nunc sodales nec. In semper est ante, a mollis leo posuere eu.
                </p>
            </div> #}
            <div id="press-podcast" class="mb-5">
                <h4 class="mb-2">Podcast</h4>
                <p class="large">
                    The Comradery team is developing a podcast to chronicle the development of the project, and to discuss the existing digital platform landscape that creators struggle against. We will announce when Season 1 goes live on <a href="https://twitter.com/comraderycoop" target="_blank">Twitter</a> and <a href="getinviteurl">our mailing list</a>.
                </p>
            </div>
            <div id="press-images" class="mb-5">
                <h4 class="mb-2">Images</h4>
                <p class="large">
                    <a href="/{{ directory }}/images/presskit/press_kit_images.zip">Download all images (3.7 MB)</a>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="element__width-full"><img src="/{{ directory }}/images/facebook-2.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/fb-1.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/gubo.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/Illus_1.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/Illus_2.png" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="element__width-full"><img src="/{{ directory }}/images/Illus_3.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/Illus_4.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/square1.png" alt=""></div>
                        <div class="element__width-full"><img src="/{{ directory }}/images/linkedin-1.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div id="press-logo" class="mb-2">
                <h4 class="mb-2">Logo &amp; Icon</h4>
                <p class="large">
                    <a href="/{{ directory }}/images/presskit/logoicon.zip">Download all Logos &amp; Icons (78KB)</a>
                </p>
                <div class="row">
                <div class="col-lg-6">
                    <div class="element__width-full"><img src="/{{ directory }}/images/presskit/icon.png" alt="" height="100"></div>
                </div>
                <div class="col-lg-6">
                    <div class="element__width-full"><img src="/{{ directory }}/images/presskit/logopng.png" alt=""></div>
                </div>
                </div>
            </div>

            {# <div id="press-articles" class="margin-lg__bottom-md">
                <h4 class="margin-lg__bottom-md">Selected Articles</h4>
                <p class="text-size__large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eros faucibus, ullamcorper odio non, posuere magna. Sed vitae nisl tempor, laoreet est vehicula, dictum dui. In euismod lacus orci, sed porta justo volutpat finibus. Mauris non sollicitudin urna. Nunc quis enim in eros ornare dapibus vel quis mi. Praesent ut rhoncus leo. Sed cursus lobortis ipsum, ac ultrices metus lobortis pellentesque. Ut imperdiet pellentesque arcu sed sollicitudin. Curabitur euismod rhoncus ante, vitae imperdiet nunc sodales nec. In semper est ante, a mollis leo posuere eu.
                </p>
            </div> #}

            <div id="press-team" class="mb-2">
                <h4 class="mb-2">Team</h4>
                <p class="large">
                    We’re a group of activists and workers spread out all over the USA. The founding member team’s goal is to lend our skills to jump start Comradery as an organization, and hand off
                    duties to new members as we grow and improve. In the future, the ‘team’ will diversify into different leadership committees and this section will be updated.
                </p>
                <div class="row mt-3">
                    <div class="col-lg-6 col-sm-12 mb-3 d-flex flex-wrap align-items-start">
                        <div class="who-image">
                            <img src="/{{ directory }}/images/cade_image.png" alt="">
                        </div>
                        <div class="who-text large">
                            <b>Cade Underwood</b> (He/Him)
                            <br>
                            Twitter: <a href="https://twitter.com/cade_underwood">@cade_underwood</a>
                            <br><br>
                            Cade is an organizer and soon-to-be movement lawyer in Philadelphia. Cade researches housing policy, organizes with service workers in Philly, and is developing the legal and financial structures of Comradery.
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex flex-wrap align-items-start">
                        <div class="who-image">
                            <img src="/{{ directory }}/images/majed_image.png" alt="">
                        </div>
                        <div class="who-text text-size__extra-large">
                            <b>Majed Elass</b> (He/Him)
                            <br><br>
                            Majed is a UX/UI Designer &amp; Developer in the Northern Virginia area and co-founder of Pixel Commerce LLC,
                            a worker co-op that builds web applications. Majed is building
                            the technology that Comradery runs on.
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-5">
                    <div class="col-lg-6 col-sm-12 mb-3 d-flex flex-wrap align-items-start">
                        <div class="who-image">
                            <img src="/{{ directory }}/images/ty_image.png" alt="">
                        </div>
                        <div class="who-text text-size__extra-large">
                            <b>Ty Underwood</b> (They/Them)
                            <br>
                            Twitter: <a href="https://twitter.com/tyunderwood">@tyunderwood</a>
                            <br><br>
                            Ty is a labor organizer, designer, and professor of design in Seattle. They are working to develop the design and organization structure of Comradery.
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex flex-wrap align-items-start">
                        <div class="who-image">
                            <img src="/{{ directory }}/images/john_image.png" alt="">
                        </div>
                        <div class="who-text large">
                            <b>John Dorsey</b> (They/Them)
                            <br>
                            Twitter: <a href="https://twitter.com/averagedorsey">@averagedorsey</a>
                            <br><br>
                            John is a writer, performer and activist currently located in Atlanta Georgia. They are also a co-owner of Pixel Commerce LLC, a digital design worker co-op. John is assisting in the language and copy of Comradery.
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-5">
                    <div class="col-lg-6 col-sm-12 mb-sm-3 d-flex flex-wrap align-items-start">
                        <div class="who-image">
                            <img src="/{{ directory }}/images/alana_image.png" alt="">
                        </div>
                        <div class="who-text large">
                            <b>Alana Lynch</b> (They/Them)
                            <br><br>
                            Alana is a labor organizer, musician, and amateur historian in Seattle. They are studying parliamentary procedure and working to develop the democratic structure, bylaws, and code of conduct for Comradery.
                        </div>
                    </div>
                </div>
            </div>

            <div id="press-contact" class="mb-2">
                <h4 class="mb-2">Contact</h4>
                <p class="large">
                    Press inquiries are welcome, please direct to <a href="mailto:info@comradery.co">info@comradery.co</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
