@mixin caret-down() {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='28' height='32' viewBox='0 0 28 32'%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cpath d='M12.912 24.045l-12.461-12.461c-0.601-0.601-0.601-1.575 0-2.176l1.453-1.453c0.6-0.6 1.572-0.601 2.174-0.003l9.922 9.876 9.922-9.876c0.601-0.599 1.574-0.597 2.174 0.003l1.453 1.453c0.601 0.601 0.601 1.575 0 2.176l-12.461 12.461c-0.601 0.601-1.575 0.601-2.176 0z'%3E%3C/path%3E%3C/svg%3E");
  width:10px;
  height:6px;
  background-size:cover;
  background-position:center;
}

@mixin caret-up() {
  border-top: 0;
  border-right: $caret-width solid transparent;
  border-bottom: $caret-width solid;
  border-left: $caret-width solid transparent;
}

@mixin caret-right() {
  border-top: $caret-width solid transparent;
  border-right: 0;
  border-bottom: $caret-width solid transparent;
  border-left: $caret-width solid;
}

@mixin caret-left() {
  border-top: $caret-width solid transparent;
  border-right: $caret-width solid;
  border-bottom: $caret-width solid transparent;
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      display: inline-flex;
      margin-left: $caret-spacing;
      align-self:center;
      content: "";
      @if $direction == down {
        @include caret-down();
      } @else if $direction == up {
        @include caret-up();
      } @else if $direction == right {
        @include caret-right();
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        @include caret-left();
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
