// stylelint-disable declaration-no-important

// Common values
@each $position in $positions {
  .position-#{$position} { position: $position !important; }
}

// Shorthand

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

@include media-breakpoint-down(md){
    .fixed-md-bottom{
        position: fixed;
        top:auto;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-fixed;;
    }

    .fixed-md-top{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zindex-fixed;
    }
}

@include media-breakpoint-down(sm){
    .fixed-sm-bottom{
        position: fixed;
        right: 0;
        bottom: 0;
        top:auto;
        left: 0;
        z-index: $zindex-fixed;
    }

    .fixed-sm-top{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zindex-fixed;
    }
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}
